---

command:
  "git --version":
    stdout:
      - "git version 2"
    exit-status: 0
  "curl --version":
    stdout:
      - "curl 7"
    exit-status: 0
  "pnpm --version":
    stdout:
      - "8."
    exit-status: 0
  "turbo --version":
    stdout:
      - "1."
    exit-status: 0

...
